@model MemberDetailsModelView

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}

<div class="members-page">

    <div class="members-details-wrapper">

        <!-- PROFILE HEADER -->
        <div class="members-details-header">

            <img src="~/images/@Model.Photo" class="members-details-img" />

            <h2 class="members-details-name">@Model.Name</h2>

            <h4 class="members-details-plan">
                @Model.MemberShip.Plan.Name
            </h4>

        </div>

        <!-- DETAILS GRID -->
        <div class="members-details-grid">

            <div class="members-box">
                <small>Email</small>
                <strong>@Model.Email</strong>
            </div>

            <div class="members-box">
                <small>Phone</small>
                <strong>@Model.Phone</strong>
            </div>

            <div class="members-box">
                <small>Gender</small>
                <strong>@Model.Gender</strong>
            </div>

            <div class="members-box">
                <small>Date of Birth</small>
                <strong>@Model.DateOfBirth</strong>
            </div>

            <div class="members-box">
                <small>Membership Start</small>
                <strong>@Model.MemberShip.CreatedAt</strong>
            </div>

            <div class="members-box">
                <small>Membership End</small>
                <strong>@Model.MemberShip.EndDate</strong>
            </div>

            <div class="members-box full">
                <small>Address</small>
                <strong>
                    @Model.Address!.BuildingNo - @Model.Address.Street - @Model.Address.City
                </strong>
            </div>

        </div>

        <!-- ACTION -->
        <div class="members-details-actions">
            <a asp-action="Index" class="btn-primary-pf">
                Back to List
            </a>
        </div>

    </div>

</div>